*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
body{
  background-color:#ADD8E6;
  overflow-x:hidden;
}

.about{
flex-wrap: wrap;
height: 100vh;
width: 100%;
padding: 90px 0;

background-color: #99ccff;

}
.imagee
{
display:flex;
height: 320px;
width:  350px;
border-radius: 50%; 
box-shadow: 5px 5px 5px 5px black;
  margin-right: 71px;
  margin-left: 420px;
  margin-top: -321px;

}
.pic1
{
display:flex;
height: 320px;
width:  321px;
border-radius: 50%; 
box-shadow: 5px 5px 5px 5px black;
  margin-right: 90px;
  margin-left: 900px;
  margin-top: -318px;
}

.pic{
display:flex;
height: 320px;
width:  321px;
border-radius: 50%; 
margin-left: 10px;
box-shadow: 5px 5px 5px 5px black;
}
.para{
display: flex;
}
.about{
width: 1130px;
max-width: 85%;
margin: 0 auto;
display: flex;
align-items: center;
justify-content: space-around;
}
.text{
width: 540px;
    margin-left: -37px;

}
.head{
font-size: 90px;
font-weight: 600;
margin-bottom: 10px;

}
.h5{
font-size: 22px;
font-weight: 500;
margin-bottom: 20px;
}
.text1
{
width: 540px;
  margin-left: 450px;
  margin-top: -321px;
}
.text2
{
  width: 540px;
  margin-top: -328px;
  margin-left: 950px;
}
span{
color: #4070f4;
}
.p{
font-size: 18px;
line-height: 25px;
letter-spacing: 1px;
}
.data{
margin-top: 30px;
}
.hire{
font-size: 18px;
background: #4070f4;
color: #fff;
text-decoration: none;
border: none;
padding: 8px 25px;
border-radius: 6px;
transition: 0.5s;
}
.hire:hover{
background: #000;
border: 1px solid #4070f4;
}
.right-header{
float: right;
padding-left: 20px;
}
.left-header{
float: left;
}
.card{
background-color:#ADD8E6;
height: 60px;
width: 60px;
margin-left: 48px;
}