*{
    font-size: 20px;
}

body { 
    margin: 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    flex-direction: column; 
    height: 100vh;
    background-color: #fff; 
    font-family: 'Poppins', sans-serif;
    background-image: url(./../images/loginback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} 
img{
    width: 1000px;
}
.textup { 
    text-align: center; 
    color: #e7ca71;
    font-weight: 700; 
} 
i { 
    margin-right: 3px; 
}
.form-box { 
    background-color:transparent;
    margin-top: -80px;
    box-shadow:none; 
    padding: 15px; 
    border-radius: 8px; 
    width: 400px; 
    margin-left: 30%;
}
form { 
    max-width: 400px; 
    margin: 0 auto; 
}
.radio-group { 
    display: flex; 
    margin-bottom: 16px; 
} 
input[type="radio"] { 
    margin-right: 8px; 
}
label { 
    display: block; 
    margin-bottom: 8px; 
    font-size: 17px;
    color:#052639;
    font-weight: 600; 
} 
input, 
textarea { 
    width: 100%; 
    padding: 8px; 
    margin-bottom: 12px; 
    box-sizing: border-box; 
    border-radius: 10px;
} 
button { 
    background-color: #e7ca71;
    color: black; 
    margin-top: 7px;
    padding: 10px; 
    border: none; 
    border-radius: 25px; 
    cursor: pointer; 
    width: 100%; 
    font-size: 22px; 
    transition: .2s linear; 
} 
button:hover { 
    background-color: hsl(211, 63%, 52%); 
    border: none; 
    transform: translateY(-10px); 
} 
h1 { 
    color:#052639;
   margin-left: -870px;
   padding-bottom: 50px;
   font-size: 35px;
}
.banner{
    width: 400px;
    height: 550px;
    font-weight: bold;
    background-size: cover;
    background-position: start;
    margin-left: -700px;
    background-color: #ADD8E6;
    padding: 50px 25px 10px 25px;

}
logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #052639;
    text-transform: uppercase;
}
.navbar ul li::after{
    content:'' ;
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}