.btn{
    font-size: 10px;
    font-weight: bold;
    padding: 15px 10px;
    margin: 10px;
    background-color:  #e7ca71;
    color: #052639;
    border: none;
    text-align: end;
    box-shadow: 2px 2px 7px black;
   
}

.next{
    background-color: #052639;
    margin-top: 0;
}


