@media (min-width:768px)
 {
  
    .mainnav img{
    
        display: none ;
      }
}
@media (min-width:460px) and (max-width:760px)
{
    .navbar .active
    {
        visibility: hidden;
    }
    .navicon
    {
        gap: 0px;
        margin-left: -100px;
       padding-right: -20px;
    }
    .mainnav {
        background-color: rgb(135, 227, 253);
        min-height: 8vh;
        top: 0;
        left: 0;
        position: sticky;
        display: flex;
        width:750px;
    }
    .navbar{
      display: none;
    }
    .ham{
        margin-top: 5px;
        margin-left: 10px;
    }
    .navbtn
    {
      text-decoration: none;
      background-color: aqua;
      margin: 10px 180px 10px 30px;
      padding: 10px;
    
    }
    .navbtn a{
      font-size: 15px;
      
    }
    .navbtn:hover {
      transform:  translate3d(0px,0px,0px);
      box-shadow:none;
    
    }
    .abt{
        height: 60px;  
        padding-left: 300px;
          
       }
       .next{
        background-image: url("./../images/index/fpbg5.avif");
        color: black;
        height: 300px;
      }
      .next .fth, .next h1{
        color: black;
        padding-bottom: -50px;
        padding-top: -20px;
        font-size: 35px;
        margin-bottom: -50px;
        margin-left: 30px;
      }
      .next .btnd{
        font-size: 30px;
        padding-top: 5px;
        margin-left: 20px;
        padding-left: 5px;
        margin-bottom: -50px;
      }
      .next .btna{
        margin-top: 250px;
        margin-left: 100px;
        background-color: black;
        border-radius: 10px;
        
      }
      .next .btna:hover{
        transform: translate3d(0px,0px,0px);
        border-radius: 0px;
      }
      .next .ba{
        color: cyan;

      }
       .body {
       
        line-height: 1.6;
        height: auto;
        padding: 0 20px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap; 
        width: 100%; 
      }
      .container{
        margin-left: 90px;
      }
      .container1{
        padding: 2px 15px 0px 20px;
      }
      
      .carddiv{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
      }
      
      .wcsd{
        padding-left: 20px;
        padding-bottom: 10px;
       height: 80px;
       padding-top: 23px;
       font-size: 44px;
      }
      .parent
      {
        
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 800px;
       padding-bottom: 10px;
       width: 100%;
       
      }
      
      .wc
      {
        width: 460px;
        line-height: 1.7;
        margin:10px 0px 20px 35px ;
        border: 3px solid white; 
       padding: 0px 10px 10px 15px;
      
      }
      .wc:hover
      {
        transition: 1s;
        transform: translate3d(12px,4px,-2px);
       
      }
      .wcimg
      {
        
        margin-left: 170px;
        margin-top: 10px;
      }
      .wc1 h2
      {
        padding-top: 5px;
        padding-bottom: 8px;
        padding-left: 50px;
      }
      
      .wc1
      {
       padding: 5px 30px 10px 15px;
        padding-left: 15px;
        padding-right: 50px;
        margin:15px 0px 90px 30px ;
        
      }
      .wc1:hover
      {
        transform: translate3d(15px,4px,-2px);
      }
      .wc1 img{
        margin-top: 8px;
      }
      .wc2
      {
        padding-left: 20px;
        margin:-50px 20px 90px 50px ;
        padding-bottom: 10px;
      }
      .wc2 img{
        margin-top: 5px;
        margin-left: 160px;
        margin-bottom: 0px;
      }
      .wc2:hover{
        transform: translate3d(1.5px,5px,-5px);
      }
      .cntu{
        padding-left: 250px;
      }
      
      .map
      {
        display: flex;
        background-color: #ADD8E6;
        height: 800px;
        
      }
      .mapinfo
      {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        padding: 20px 30px 20px 30px;
        margin: 30px 10px 80px 40px;
        border: 3px solid white;
        
        box-shadow: 15px 25px 60px 3px black;
       
      }
      .mapinfo:hover{
        transform: translate3d(0px,-4px,3px);
        transition: 1s;
      }
      
      .maph2{
        padding-left: 50px;
        padding-bottom: 15px;
      }
      
      .google-map .omap{
        border: 3px solid black;
        border-radius: 20px;
        margin: 10px -20px 0px 110px;
        height: 290px;
        padding-bottom: -20px ;
      }
      
      .google-map .omap:hover{
        transform: translate3d(2px,-10px,-20px);
        transition: 1s;
        box-shadow: 15px 25px 60px 3px black;
        border-radius: 20px;
      }
      .links{
        padding-left: -50px;
        padding-right: 50px;
      }
      
}  
    

