
.nav_bar{
    background-color: rgb(126, 116, 116);
    color:#052639;
    padding: 10px 20px;
    font-size: 30px;
    text-decoration: none;
   
}

.navigation_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.nav{
   list-style: none;
   display: inline-block;
   padding: 20px;
   text-decoration: none;
}

.logo{
    height: 150px;
    margin-left: 0;
    border-radius: 50%;
    text-decoration: none;
}
a{
    text-decoration: none;
    color: #052639;
}
